.layout-landing{
    position: relative;
    top: 0;
    left: 0;
    margin-top: 95vh;
    width: 100%;
    min-height: 100vh;
    &_img{
        position: absolute;
        top: calc(-100vh + 48px);
        left: 0;
        width: 100%;
        min-height: calc(100vh - 48px);
        z-index: 0;

        animation-duration: 3.5s;
        animation-name: fadeIn;
        
        background: url("/image/top.jpg") no-repeat center center;
        background-size: cover;
        .visual{
            position: absolute;
            top: 128px;
            width: 100%;
            height: 400px;
            &_icon{
                display: block;
                margin: 0 auto;
                width: 42px;
                height: 42px;
            }
            &_caption{
                display: block;
                position: relative;
                text-align: center;
                font-family: "游明朝";
                color: white;
                font-size: 2.8em;
                text-shadow: 2px 2px 5px rgb(78, 78, 78);
            }
        }
    }
    .landing-picpup{
        width: 100%;
        height: 128px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .landing-container{
        width: 100%;
    }
    .landing-infomation{
        width: 100%;
        height: 96px;
        position: relative;
        top: 0px;
        background-color: white;
        &_scroll{
            position: absolute;
            left: 50%;
            top: -48px;
            width: 128px;
            height: 48px;
            
            background-color:white;
            border: none;
            display: block;
            font-size: 1.2em;
            line-height: 52px;
            padding: 0;
            transform: translateX(-50%);
            text-align: center;
            transition: all .3s;
            &:hover{
                width: 164px;
            }
        }
    }
}

@keyframes fadeIn{
    from{
        opacity: 0.75;
        
    }
    to{
        opacity: 1;
        
    }
}