@charset "UTF-8";
/*Media query mixin*/
body, ul, li, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Sawarabi Gothic", "Noto Sans JP", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

.layout {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

/*スクロールバーのつまみ*/
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #0d72a1;
}

.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 2;
  font-size: 1em;
}
.layout-header_title {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  width: auto;
  text-align: center;
  line-height: 48px;
  color: #1d1d1d;
  text-decoration: none;
}
.layout-header_twitter {
  position: absolute;
  top: 6px;
  right: 16px;
  width: 82px;
  height: 36px;
  border: 1px solid #063b7e;
  background-color: white;
  color: #063b7e;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.layout-header_twitter:hover {
  background-color: #063b7e;
  color: white;
}
@media screen and (max-width: 767px) {
  .layout-header_twitter {
    display: none;
  }
}

#navbutton {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  height: 48px;
  background-color: #063b7e;
  font-family: "Sawarabi Gothic", "Noto Sans JP", sans-serif;
  z-index: 4;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  #navbutton {
    width: 60px;
  }
}
#navbutton .menutitle {
  position: absolute;
  left: 60px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1em;
  height: 48px;
  line-height: 48px;
  color: white;
}
@media screen and (max-width: 767px) {
  #navbutton .menutitle {
    opacity: 0;
  }
}

.trigger,
.trigger span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.trigger {
  position: absolute;
  top: 2px;
  left: 14px;
  width: 36px;
  height: 44px;
  z-index: 4;
  display: block;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .trigger {
    top: 2px;
    width: 32px;
    height: 44px;
  }
}
.trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #e7f8ff;
  border-radius: 4px;
}
.trigger span:nth-of-type(1) {
  top: 10px;
}
.trigger span:nth-of-type(2) {
  top: 20px;
}
.trigger span:nth-of-type(3) {
  bottom: 10px;
}

.active span {
  background-color: white;
}
.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  -ms-transform: translateY(10px) rotate(45deg);
      transform: translateY(10px) rotate(45deg);
}
.active span:nth-of-type(2) {
  opacity: 0;
}
.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
}

.btntgle {
  width: 300px !important;
}
.btntgle .menutitle {
  left: 140px !important;
}
@media screen and (max-width: 767px) {
  .btntgle .menutitle {
    left: 60px !important;
    opacity: 1 !important;
  }
}

.layout-nav {
  position: fixed;
  top: 48px;
  left: -300px;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 1;
}

.open {
  left: 0;
}

.menu {
  width: 90%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.menu_title {
  width: 100%;
  padding: 0px 12px;
  line-height: 48px;
  font-size: 1.2em;
}
.menu_title a {
  display: block;
  text-decoration: none;
  color: #1d1d1d;
  font-size: 1em;
  position: relative;
}
.menu_title a::after {
  position: absolute;
  left: 0;
  bottom: 5px;
  display: inline-block;
  content: "";
  width: 0px;
  height: 4px;
  background-color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu_title a:hover::after {
  width: 100%;
}
.menu .child {
  list-style: none;
  width: 100%;
  padding: 0px 24px;
  line-height: 36px;
}
.menu .child_item {
  width: 100%;
  height: 36px;
}
.menu .child_item a {
  display: block;
  text-decoration: none;
  color: #1d1d1d;
  position: relative;
}
.menu .child_item a::after {
  position: absolute;
  left: 0;
  bottom: 5px;
  display: inline-block;
  content: "";
  width: 0px;
  height: 4px;
  background-color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu .child_item a:hover::after {
  width: 100%;
}

.links {
  width: 100%;
  padding: 18px 0 20vh 0;
  text-align: center;
}
.links .blog {
  margin: 32px 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
}
.links .blog img {
  display: block;
  margin: 0px auto;
}
.links .blog::after {
  content: "防衛部ブログ";
  display: block;
  width: 100%;
  text-align: center;
  height: 32px;
  position: relative;
  top: 0px;
  color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.links .blog:hover {
  background-color: aqua;
}
.links .blog:hover::after {
  opacity: 1;
}

.layout-main {
  position: relative;
  top: 48px;
  width: 100%;
  min-height: 100vh;
  margin: 0px auto;
  z-index: 0;
  padding-bottom: 48px;
}
.layout-main .main-head {
  width: 100%;
  height: 30vh;
  position: relative;
}
.layout-main .main-head_title {
  width: 100%;
  font-size: 2.2em;
  color: white;
  text-align: center;
  position: absolute;
  line-height: 30vh;
  text-shadow: 2px 2px 5px black;
}

#other {
  background-color: #6cbdff;
}

#asm {
  background: url("/image/top2.jpg") no-repeat center center;
  background-size: cover;
}

.layout-footer {
  position: relative;
  bottom: 0;
  min-height: 256px;
  width: 100%;
  background-color: #081426;
}
.layout-footer .copyLight {
  width: 100%;
  height: 100px;
  text-align: center;
}
.layout-footer .ftnav {
  width: 90%;
  position: relative;
  top: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .layout-footer .ftnav {
    width: 90%;
  }
}
.layout-footer .ftnav .child {
  width: 20%;
  list-style: none;
  padding: 16px 0;
  margin: 0px auto;
  border-bottom: 1px solid #b4b4b4;
}
@media screen and (max-width: 767px) {
  .layout-footer .ftnav .child {
    width: 100%;
  }
}
.layout-footer .ftnav .child_item {
  text-align: center;
  color: white;
  font-size: 0.8em;
  height: 24px;
  line-height: 24px;
}
.layout-footer .ftnav .child_item a {
  color: white;
}
.layout-footer .copyright {
  font-size: 0.8em;
  padding: 32px 0;
  text-align: center;
}
.layout-footer .copyright_text {
  display: block;
  color: white;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #004075;
  z-index: 999;
}
.loading .animation {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading .radarline {
  -webkit-transform-origin: 64.5px 64.5px;
      -ms-transform-origin: 64.5px 64.5px;
          transform-origin: 64.5px 64.5px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 3s liner;
  transition: -webkit-transform 3s liner;
  -o-transition: transform 3s liner;
  transition: transform 3s liner;
  transition: transform 3s liner, -webkit-transform 3s liner;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
          animation-timing-function: cubic-bezier(0, 0, 1, 1);
  -webkit-animation-name: animeRadar;
          animation-name: animeRadar;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.loading .enemypoint {
  opacity: 0;
  -webkit-animation-name: animeEnemy;
          animation-name: animeEnemy;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: liner;
          animation-timing-function: liner;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes animeEnemy {
  35% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}

@keyframes animeEnemy {
  35% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}
@-webkit-keyframes animeRadar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes animeRadar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.layout-landing {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 95vh;
  width: 100%;
  min-height: 100vh;
}
.layout-landing_img {
  position: absolute;
  top: calc(-100vh + 48px);
  left: 0;
  width: 100%;
  min-height: calc(100vh - 48px);
  z-index: 0;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  background: url("/image/top.jpg") no-repeat center center;
  background-size: cover;
}
.layout-landing_img .visual {
  position: absolute;
  top: 128px;
  width: 100%;
  height: 400px;
}
.layout-landing_img .visual_icon {
  display: block;
  margin: 0 auto;
  width: 42px;
  height: 42px;
}
.layout-landing_img .visual_caption {
  display: block;
  position: relative;
  text-align: center;
  font-family: "游明朝";
  color: white;
  font-size: 2.8em;
  text-shadow: 2px 2px 5px #4e4e4e;
}
.layout-landing .landing-picpup {
  width: 100%;
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
}
.layout-landing .landing-container {
  width: 100%;
}
.layout-landing .landing-infomation {
  width: 100%;
  height: 96px;
  position: relative;
  top: 0px;
  background-color: white;
}
.layout-landing .landing-infomation_scroll {
  position: absolute;
  left: 50%;
  top: -48px;
  width: 128px;
  height: 48px;
  background-color: white;
  border: none;
  display: block;
  font-size: 1.2em;
  line-height: 52px;
  padding: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.layout-landing .landing-infomation_scroll:hover {
  width: 164px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}
.container {
  width: 100%;
  position: relative;
  top: 0px;
  margin: 0px auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
.container h1 {
  text-align: center;
  font-size: 1.6em;
  padding: 4px 0;
}
.container h1:after {
  position: relative;
  top: 2px;
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #2472e9;
}
.container h2 {
  text-align: center;
  font-size: 1.4em;
}
.container h3 {
  text-align: center;
  padding: 8px;
  font-size: 1.2em;
}
.container p {
  font-size: 1em;
  letter-spacing: 0.12em;
}

.warning {
  position: absolute;
  top: 48px;
  text-align: center;
  background-color: #7a8a99;
  width: 100%;
  padding: 0px 12px;
  color: white;
  display: none;
  z-index: 1;
}
.warning_text {
  font-size: 1.2em;
  line-height: 48px;
}
@media screen and (max-width: 767px) {
  .warning {
    width: 100%;
  }
  .warning_text {
    font-size: 1em;
    line-height: 32px;
  }
}

.show {
  display: block;
}

.news {
  position: relative;
  top: 8px;
  width: 100%;
}
.news-item {
  position: relative;
  display: block;
  padding: 4px 0;
  margin: 8px 0;
  text-align: center;
  text-decoration: none;
  color: #2f2f2f;
}

.icon, .icon--red, .icon--blue {
  display: inline-block;
  padding: 2px 8px;
  margin: 0px 4px;
}

.icon--blue {
  background-color: #1e90ff;
  color: white;
}

.icon--red {
  background-color: #ff401e;
  color: white;
}

.sliceBox, .sliceBox--compact {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}
.sliceBox_head {
  width: 60%;
  font-size: 2em;
  text-align: center;
  margin: 0px auto;
  line-height: 7em;
  color: white;
  text-shadow: 2px 2px 5px black;
}
@media screen and (max-width: 767px) {
  .sliceBox_head {
    width: 96%;
  }
}
.sliceBox_text {
  width: 60%;
  max-width: 520px;
  margin: 0px auto;
  color: white;
  text-shadow: 3px 3px 5px black;
}
@media screen and (max-width: 767px) {
  .sliceBox_text {
    width: 96%;
    padding: 0px 16px;
  }
}
.sliceBox_link {
  position: absolute;
  bottom: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 48px;
  display: block;
  max-width: 480px;
  width: 90%;
  margin: 0px auto;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.sliceBox_link:hover {
  max-width: 520px;
}

.sliceBox--compact {
  height: 50vh;
}

#asm {
  background: url("/image/top2.jpg") no-repeat center center;
  background-size: cover;
}

#canon {
  background: url("/image/tnt.jpg") no-repeat center center;
  background-size: cover;
}

#rs {
  background: url("/image/rs.jpg") no-repeat center center;
  background-size: cover;
}

#beda {
  background: url("/image/ikaduchi-mashu10.jpg") no-repeat center center;
  background-size: cover;
}

#next {
  background: -webkit-gradient(linear, right top, left top, from(rgba(66, 248, 171, 0.8)), to(#3b5bff));
  background: -o-linear-gradient(right, rgba(66, 248, 171, 0.8) 0%, #3b5bff 100%);
  background: linear-gradient(-90deg, rgba(66, 248, 171, 0.8) 0%, #3b5bff 100%);
}

#other--red {
  background-color: #ff8787;
}

#other--green {
  background-color: #87ff9b;
}

#other--yellow {
  background-color: #fff387;
}

#other--gray {
  background-color: #949494;
}

.normalBox {
  width: 50%;
  padding: 36px 16px;
  margin: 0px auto;
}
@media screen and (max-width: 767px) {
  .normalBox {
    width: 96%;
  }
}
.normalBox p {
  width: 80%;
  margin: 12px auto;
}
@media screen and (max-width: 767px) {
  .normalBox p {
    width: 100%;
  }
}
.normalBox img {
  width: 85%;
  display: block;
  margin: 0px auto;
}

.credit {
  width: 100%;
  max-width: 920px;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 24px;
}
@media screen and (max-width: 767px) {
  .credit {
    width: 100%;
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;
    row-gap: 18px;
    -ms-grid-columns: 1fr 6px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.credit .card, .credit .card-l4, .credit .card-l3, .credit .card-l2 {
  position: relative;
  width: 100%;
  height: 132px;
  padding: 6px 18px;
  background-color: #1b77c4;
  border-radius: 5px;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 52px;
  grid-template-rows: 52px;
}
.credit .card > *:nth-child(1), .credit .card-l4 > *:nth-child(1), .credit .card-l3 > *:nth-child(1), .credit .card-l2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.credit .card > *:nth-child(2), .credit .card-l4 > *:nth-child(2), .credit .card-l3 > *:nth-child(2), .credit .card-l2 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.credit .card > *:nth-child(3), .credit .card-l4 > *:nth-child(3), .credit .card-l3 > *:nth-child(3), .credit .card-l2 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
@media screen and (max-width: 767px) {
  .credit .card, .credit .card-l4, .credit .card-l3, .credit .card-l2 {
    width: 94%;
    height: 124px;
    margin: 0px auto;
  }
}
.credit .card .card_name, .credit .card-l4 .card_name, .credit .card-l3 .card_name, .credit .card-l2 .card_name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  width: 100%;
  display: block;
  margin: 10px 0px;
  color: white;
  font-size: 1.2em;
  text-align: center;
}
.credit .card .card_name::after, .credit .card-l4 .card_name::after, .credit .card-l3 .card_name::after, .credit .card-l2 .card_name::after {
  width: 80%;
  position: absolute;
  top: 42px;
  left: 10%;
  content: "";
  height: 1px;
  background-color: white;
}
@media screen and (max-width: 767px) {
  .credit .card .card_name::after, .credit .card-l4 .card_name::after, .credit .card-l3 .card_name::after, .credit .card-l2 .card_name::after {
    top: 36px;
  }
}
.credit .card .card_profile, .credit .card-l4 .card_profile, .credit .card-l3 .card_profile, .credit .card-l2 .card_profile, .credit .card .card_b4, .credit .card-l4 .card_b4, .credit .card-l3 .card_b4, .credit .card-l2 .card_b4, .credit .card .card_b3, .credit .card-l4 .card_b3, .credit .card-l3 .card_b3, .credit .card-l2 .card_b3, .credit .card .card_b2, .credit .card-l4 .card_b2, .credit .card-l3 .card_b2, .credit .card-l2 .card_b2, .credit .card .card_b1, .credit .card-l4 .card_b1, .credit .card-l3 .card_b1, .credit .card-l2 .card_b1 {
  width: 100%;
  display: inline-block;
  color: white;
  font-size: 1em;
  text-align: center;
}
.credit .card .card_b1, .credit .card-l4 .card_b1, .credit .card-l3 .card_b1, .credit .card-l2 .card_b1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.credit .card .card_b2, .credit .card-l4 .card_b2, .credit .card-l3 .card_b2, .credit .card-l2 .card_b2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.credit .card .card_b3, .credit .card-l4 .card_b3, .credit .card-l3 .card_b3, .credit .card-l2 .card_b3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.credit .card .card_b4, .credit .card-l4 .card_b4, .credit .card-l3 .card_b4, .credit .card-l2 .card_b4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.credit .card-l2::after {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  content: "";
  border: 2px solid #ffd747;
  border-radius: 3px;
}
.credit .card-l3::after {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  content: "";
  border: 2px solid #ffd747;
  border-radius: 3px;
}
.credit .card-l3 .card_name::after {
  width: 80%;
  position: absolute;
  top: 42px;
  left: 10%;
  content: "";
  height: 1px;
  background-color: #ffd747;
}
@media screen and (max-width: 767px) {
  .credit .card-l3 .card_name::after {
    top: 36px;
  }
}
.credit .card-l4::after {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  content: "";
  border: 2px solid #ffd747;
  border-radius: 3px;
}
.credit .card-l4 .card_name {
  color: #fecb34;
}
.credit .card-l4 .card_name::after {
  width: 80%;
  position: absolute;
  top: 42px;
  left: 10%;
  content: "";
  height: 1px;
  background-color: #ffd747;
}
@media screen and (max-width: 767px) {
  .credit .card-l4 .card_name::after {
    top: 36px;
  }
}

.button, .button--white, .button--blue, .button--red {
  display: block;
  width: 320px;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  margin: 16px auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .button, .button--white, .button--blue, .button--red {
    width: 240px;
  }
}
.button:hover, .button--white:hover, .button--blue:hover, .button--red:hover {
  width: 350px;
}
@media screen and (max-width: 767px) {
  .button:hover, .button--white:hover, .button--blue:hover, .button--red:hover {
    width: 280px;
  }
}

.button--red {
  background-color: #fa8072;
  color: white;
}

.button--blue {
  background-color: #72adfa;
  color: white;
}

.button--white {
  background-color: #f0ffff;
  color: black;
}

.mvplay {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 32px 0;
}
.mvplay .movie {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}