html{
  margin:0;
  padding:0;
  width:100%;
}
body{
  margin:0;
  padding:0;
}

nav{
  background-color: rgb(89, 159, 241);
  width:100%;
  height:auto;
  margin:0px auto;
}
nav a[id^="hnav"]{
  display:inline-block;
  text-align:center;
  line-height:38px;
  font-size:18px;
  text-decoration:none;
  color:white;
  width:100%;
  padding:5px 10px;
  background-color:rgb(32, 106, 194);
}
.nav-child{
  width:90%;
  margin:0px 0px;
}
.nav-child a{
  font-size:17px;
  line-height:26px;
  width:100%;
  padding:6px 0px 6px 10px;
  margin:0;
  color:rgb(240, 240, 240);
  display:inline-block;
  text-decoration:none;
  position:relative;
  left:30px;
  top:0;
  bottom:0;
  background-color:rgb(34, 114, 207);
  overflow:hidden;
}
